.leftpanel {
    position: absolute;
    display: block;
    background-color: rgba(255, 255, 255, 0.51);
    float: left;
    width: 20%;
    height: 100%;

    /* Don't let third party CSS override the box-sizing within the viewer. */
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.leftpanel.docked {
    position: relative;
    background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAYAAABw4pVUAAAgAElEQVR4Xl3dh24lx7JEUY681/9/oLx05b3h405wEfHmAIPm6S6TlZUmMqrJefX9998/vvnmmw9vvPHGw88///zw4YcfPvzxxx8P77333sN///338Ndffz28evXq4fHx8b53v/a1rU/tf/rpp7vWpvZ93n///Ydffvnl2ut/D54+9avd33///fD2228/vPvuuw+//fbbjVGfnhujNsb86KOP7lltu58cfZq3eWrXGL/++uvdf+edd27uf//99+Zw/4MPPri23U/Ofq5tY7b2ZGrst9566/o3n7G63zjJ0fN//vnnxk6G33///dq5V9/WU7vaN+6ff/55Y9amuetDd/fsxx9/fKxBnwSqYYJ2r4GajPJaSJ1sTIL2IXyLaeL61q9rE3YvhTV+/fsYPyF73rMW02J7tnP13RjGs/mNW78WntzJ0j8GlaytqXv9nFy1bd7aZFhtdG1scuP0vTnr88knn5zCu993hto6UmZrIm9j7PptAOOpT3qlq54nR/OdAXz55ZePdqhJ+9egTb673f0+bUICWqgJCcZyapeQXVlobZuURSdk3pWlNGfKalxzNV99Pv7445vbZth0VsaL+p5ym7NFGqf5KVQESLb6NVZG0AYlR/PVNjmbr3F6llw2KrnNzdqtpfaUzpOSiV4zbobReMnR5vT8jPjbb799+vnxhGmSFtMkbUYduDUryKKavPttzIauJrJInsBdu/Zp8tqsu7NmoUroTCHJ1oJaCMviwRaewnhY7VpH91rHzpXc3UuG1kuZZGaQGcCGqdqnuD61oaPm4H1dRQ6b2XzJ01zSgrDYeCKDKNPY5yEtmPW3EffgSfD+pdh2jjs3WQJ1pfQU2vdCgf4JyHUTPCVz8caXR2pD2WuVFt1CeJpw4XtzsV6Lyipbj6uwKgem7J61qX14Z2MnU2NnCF1r19rlrWTxXRhnFF2TpXmEx3TWh3EbxzxP6eLFk4X485C+yB0puYETuGsTN0CDUnaTSlZNmvBrlT0XnhqbV8gFtW2sPjxQUuxqfom2q7jNO4WBxmJMxhf2Un5ypvRk6H5tMqCU/umnn976GpOH8RIGWT/xXegVPhncrkdCb1zhtuuCByGqNkUZOe3C/5PlPmYJkpKO0AlLMqnE2eKy6JRl01pk/VJWHtGYFgG5NXkfMb7NTiFZMtRhA4QYoVNOa57m6JocwkHPGQI5hSeKan5rzVgaA/rpe5/WYw0snAX3vbzXGEJlYwMItet+61nvEvKSh7Enu5wmfJ2HiO9dU2TXjcl1StESuaTcYiQ4yhKCIJ2u4CBr24RqoQkpFO4my0HJlcWnjBbfWH1sDBQm1FFAGyS01r4xhFMQllJ4exsi9KRcBisZtx45EDKERq2tsYUwIImnJYf8Jgrx4ldff/31o46gaMqRHIUN1ipmp4D+gW8EosAssYXWpljZzy2kicXS2lp84cO83W++xpAPxH71gLwDDdpMtYgaoH7CB2vnERBhyrdJQmZKXKAjgRdiatsm80gbWntIrDnrU5vm6T7UtsbUOEDDGdOTxR3KgmgkTDEaqlD8UEjtmyRrVXC1+O4DAZ4lKIVBPxK7Tei+8MHa5Q31gFx3rvH04eawfPcYRj8rPBftZBxtOCO0gfKL9QqDcqCcp6BUuzVPOoPe6Ekd0/30kw4AB4CIR/Lg002FISVScNetmMFAyV1SgrkVlDaiycViBZHaQQhpTIKAhtxYPQIGCy1yi82UNOUruUhuAOfJwupTTH2XXcA4yCNkqK9iFSLjGeoWdY4CuXnTUWPylM13tVMX1VftdFD8f//736OdUmAtRIRSFFvr2gQUE7tKdC1YHE04VplgbYZQl3J4nTqo55RsXotQUTeXjVmDsfHJ0YdhtfDa1aexu/a9Nfcz76JcG7YIy9yMSRhrDTw2OW2GeeQ5uVpSBzjq273z0kKWcMLdYHfFC1jG5XA/IKf6oAkJl3VQZhOag1WpqlmOvLE1ivBW38ZFceRJQpz79cuShUkWDukJGy1cIZghkBEokYChzMZpTCjQOlpTfVKqUEo/kB8urLWqaaBThTaA0Fht4HkIukACXRTEui1UPdImZQ2gqtyjuGO1cD80xoJaePOhTCRplt+8AAV4LSkKA7yQEmsH/aQE67DJQl6bUl8JepEZD2OEjCKFUqb8ItTWXz5LHyLM5i4UjTKg70Ju64JqX3311VeP0AGra6Aas/YU1z2VZRaBWuCeFplCUwq0AbUIC+I2CNxGMwhQNWHBW1V+MqySGg88XtdPrhBbCwQKoJ02yebIg43ReqAmCIpcrUdCFvdrA73xNnlKFS68rZwZJ84PN9bcDO+MoZBl9yTllAmm2hQxVoEoTEnMii1VsJha+yyR5VN037k7d01xiip5RO4RY7cIVKChd5CEW5jVD0pzbUwhbQtJawJuth4Txht7PQQ6w1SsR2kHDKFstkbBDJDnNgQ0k/HryKKdHaBHJOM2zGZluRBNz7HBLUJR6WyE5yTUJmr1BEtrPuENROXmzZXMWa5NUBfh0xiGkNiC8/DaUVpKbA5KBW0bE8MM+SkNtCe78ERPjSFsGxdwSYbGtvZkwWAnZ3O+6oDKZIWFOtsMRWBKWujJ0hR1DpYSBPXSGGoCoYO1q04pmDcuEhOTufwSdRa4XiZ0UEaKWUQnvNVXnE9+uVG8tynWkYGtRTcnA1GL1bZ7r9dU9du6xFwO0wADhpc85yGSoqqy70saQg3agXspq8G2wodOus8b8FYgZOPA6C0YnWEsgEE/Fb7TNWSl+LtecbHx6eMUUy5k2ZgE9xuDtSMBARDeR3F9XyQpV8oNoaSVmaHx9hQOCGCLkYtKiKPfhYAUKNygNxq0T8pkUbzodvT5ZDElyQHyh5DV+CpXkLk2aG6EW3M6p0g5bRyBeQwojshUpCUTj5YDFGjCrXrHeoQOCVjOEObk0ja3+aFK9ZqcU2SRDxt78036kbRRJhlB/5wlARX1vZAF5eCL1AhNKImrObhwwjbZJt+sI8FZQv0dYjVZ30NAQk0KUB9soiS4hWBeIZ++N7fjVwdaQqtELbT2XWJVh6hfKLLvyzGlVJFAnZE8218ea8NqA3iINCKLvMs7bDyj77s08eqbb745crGbDpFqKEmnMEVTE0jmKfB29PklADF0vQ156OUEgkmmFiGHia31Q7ht/iIXaiQZsv4Uou7ZcxIh1dmNsCARN4481jwMxDmKtS4p2D0eJQzi6jDi+C+UiLMVeSkPE9KFTIz41SGsnQW3MRTcM8Kivbkha5GMxX4FVAKApksXgNdQGoFZjroI2qkvvk3IW96r5wrYFpsXyiHWplZRi2RkFCp3oIX6LnEDBxBdmyn/KfIau7W0uYjD5IO8zNm6l1raHKj9VeoKQvG4AfDzKA273uY46UoI5yfCCRSj+kWhOBKtfz/Xr/nqp0qVRBWbXdEWKQ97uzGeUpOZDJIylMcAurae4K84TpnkSzEplrIhur6jT+ojkQNAdJgxMB4FruS/IVDOa4Mb94XZeLLqRxMkZJaVolS04vHibfHOQJJ2bfFNTaj67WecEjKvBaI5bHoLgJj6uU+LULjumUpKFTaFJtbZXM0JCjvRhLCMVzuFmXhPmYwzOa1dyFRYmpcHJ6t8073kS0dgM6OqP6Zj83QGdR7C3SgaCkGjKxwVX6Att94jT9yWa2Nu+MuCFGgJwBKFIgdjSMjmFEqguxakXrAp8l+yq4v6uTmEjDZAaGseH2hLIVcbDC2vS54NybxO3rBZ5qATZzUMsLWriQANOaV1XR0iBnMpyVXSk7gTnCLaYQTe0hOoBbS3WN/kXufhPWcRz2+29Nz5CqsRyhqz8Wqr4ORVaoNdXM94+gsl8fwWjY0gl5CpendeT0byhRblUwVgm8Tq14sUgxgMGyAc0qtiV44+KB/s7QaczWogC67PK1ir+EzILF/hx9PqCwK3IIQiV0cm8tDmztJ38Qkt6XdNcSk7pYvNKZV1Cx971sECGx/mT5HeCdjQ1xzgqRDcdzWHKGFtEnVrqh1Obw2NwYoIcmDjC23C8b3kINayJpQDC62TfKAYZBk2kFUIQRAYmmSTd97VAiQyIa0xJHYLROegNuQUhqFOYqHJI0z0TP3U2M2rpjne6En5Nhe0V/uQBRJU02QsThAlZn3MV1thE7dF+fKWek7NR8cvhaEYqLZgjZKe+kJtAdWwGJ6AOrCZCaLucGaSUgGH13OHzRH/WTy5eLPYzupsDINZaJ7sil/zLvLxMoUiEa2isgcwGhO70EbSkTGhO1GltchZck3r8T5YY/XBhV0k8F4WuFqjrKDkg8ZAQdj1JlKTZEmUhcthjU3eGC3ICwzYTRuHErmE9rxg9RD6RH5YakNVLCEvX6YeQNeIAFtTySFboDVfG9o6jS+feZEhXYDfci+6qTHljcZFJuK/tv5qPO+oCefH5VWpi3G8ZA9dxFfQtSsrEVcphVs6A8H/C021Y5nqGnHXRmVtjkl5ow1XnEmCWNuURNnojdpgY4UQYaG5U17jAx8UVBvITBXNy+Ut6wb3IUGUiRzadxsqpNdWHSQ6iD7nIZ9//vm9Stqka202yXl2ncDNrsJAg9Sv/llWk/k4aWRR+KH6+CAlE9wGNDZkItcUIvqoZ5Kvf5JoMugHBHj7vH61bUyIbUGMNajHkgVQUCT2vQ3O2HqeVePIAA81S+sgl9rOcTKCFnhQ2Nbn5o86YXFgGNYUJZKSTUBRkrQknpAOp1h7k+3CvUlCYX1PYGNIiuiK5OLOPMARsHAhSfNgLw1AL2oXfFNjgt+AgnzYenmjzawfNkLoJCejFZ4UlSr61YlXWAEaeUmo5tmXQ/Y8RFwT+1mtMLYhRxUKKbQYhY9FJqxkCe7aiMbyNkYC4ZskVaRn4yIm5ThknHMFtHxtFXApzMt7ahyoq37CsQp/vYFHOYPBIDS+aKLo7fueeYDUiySFOfnGkQPCUdR49d13352HgLyoEmxrQi6mVjzaKEmRK7IwCAI07CrG1scv6oj/LBwc5LXOPYAOxoMPsxFQllCGj1MI8l5QV17pO/oeiMBzqTUYFQibbDgsBa03T7Zwtga5WUizkcjXvJ5x3IaAb87ShZSl5eF/ScqLCxIwC66v5GsTQFPJqz5ewUlxKULogma61wc902KglX7u/hKUFCLWr0fjzxSvaijFLmjv+1bSDMUL120wz1bA8mye3BoUnWoiVzC4dS/Fo0j+f2yvyTG1LVqyFv9V1QmlqmbVW0CylBZJYLAQNUN5QIXE3sIgHcpMieSRzNd7kgeSATI2XPIs9QBPZ61k4PmsmhzNqa8EbQOTt/Xm9V4a99KewpgxMeAlNhXB5wgl9SbdegAeJ5SwtL9axou85b6Us8S60PLM/enjgKc5xE25hfvbRElXYnZw5I2QxrNABWGKk/jVIVt/8FJeJsQKbXvYBKaD+bWtX8oWZrC2cos1tjlYhmU8hHZw33h+sfTIRWEIYSeWtrs+kqJQ0oCKQm5s4c5SWMcSd/UBDPKcFIRkrF3C21A1CeZV+IJMFJxCTuvwIhrEyFNr23woE97a8/6p1tUl1uv+QnfhFaPb2Pt6Dyh/hd7z2+/JrHjllTyct56R9/Y7VGBB7S7lUCArZmEO/ptE/Bb/HSyxPkKBwAmyKE57v0eCK3LGj05JTgXlegKIqh6onYOx5FW4MRTjMLzaYG4l8mQWWgEP/dQiPd8NYwSOioVM+aIx+7k1IGIRrhDe/cKOhLnJHW1SQ3TAbg7WtefeCRbaWoAqt03JkpZkFBJtihDVAuUlDCulKNZYMPSn2hVy24gWmXK8MdOYzdUY8g8KpO8MEee2p6AZmwMvtQO0BEE6P0E3tdaMzritT15OrsZT8yiw6e48BPEGFYHAIKRQ1BXPhXhT3fuVs80/G8trRyjAQEhkNbVZ8JDQPWvePTtwpi2coj14gnlbLOZarFf0qkeEvTZs6yKv8rRem84YVNXyTZ7cmrYodVAFIgMNYLqkXx+vEV30iX5PuU7clgp/nSGFOLgseCv5EVwyhx5APjkqIffkrP4JWn+hcakUMVYeCMnwWt4J8YDqwqCiVM5ToHUFGhbUtCaWruBLeZJ1hgFAdI8OkskbOmtAxnbPSWjj7FHAy7lPXFYL7R+FcWdspdgL7SQI5lI12ibtwY4JWGuLa5w+tTUH6lohynXxXmgUXuBo2BkE62pcG7bPFH49Y7XiN3iMDuo5ZMab1VuMiOHIh8ndp/UY36tIjMB7zXJpekVs5l1tVm0vDOchDYjJlKBTuDjY8yahzO4v6gIhE6oPhXSFNBoXKpOEGUJKgO2BBpW1cweF01phY2NUGwuVIxcpUqEaL+UJV4rd7neP5zm9q5/irfEdK7jPmx0jq7aFoaX966+YbZORtukLCu3no9/riCxsUJZm11mL0GQhahDEmXBgvMbpnnCC3gAhu24+EYdZn8SMd5J0k2OrfnBSkm1hyZwyU5a3JXlt99RUW/ipjbq31bwaJbnUUZCpEMSg5YaFwlBV4wBQoo8CEWF5lfoWVV58Fp5YAauXKPsuUcHjFF1fIWoPmcTTNqhx1D+IvPUmHqkIaxysAYUKfeRvXBS7nAioYG29htp9+QClb608TV/rgxaF2zU44GNDqLqJ5zAi0JqBORC753lIC2lwjGsdIC3wzHu0EjWlqkKzSmGsNv3Lc1IEz7BJ3QcJje/VoMZtUTayMbGr5tgzlO6pfhuzD+JPzmpdGGTwGeoCUORPm4Bj84ui6gV1EHbX+hXMO146UIMskw0NLgMtityGiMPOEHq47gV+UvQmP5ZhU4Ugm9BVoeScANQk0CIkdUGKFZrkuK5IO0jOxkmsKQxSFDp7tkzu63PUXhFnU8V8STsj8WqRkCpp69v3/Q1decKm9h1EPst5Np7ml4dezkPQCt6J5U4QALqA+ymSxGUe5excyEtx4KWire/rNeqRNrxN4tKq121bG0yxkCGUoGIAC0VlMipqGVptEIbmzzCxBHIq+N2GQkQKw6X0oTO1Ckpm6ZHW7Y1LoAmfZ4NeffHFFweNxM9+hia48SbTBFvuBS8l9MgHdn+ZYHCvey10K3UFIeRl0byTIpcf0waKMrfCrXUsR7VwGOKqjzWB8ryPMfLy5lbfNK5f/MT09pzulsFu3eZ2TOHNeqgRvD/Yq3ADS9tViVKZr0gUI8HUPZDh1uK+eAuVSeJ4IknP/Da+zZRnaqsWYNFyE5RGhvo1ZuMJpRQT0rKG+qmyMwA0kXAl4TdGaxFSuiqibZrIIVQL9yC/HMODpAUns8lsjRdtnh48QivgrepXchdzu18nCczibSSo6Ewhy+1n8Vh4kwdA7M0REjQE1DOcVPIIKUuTgLaFA4TkMadP/0BOa5AvYX8hyXObsJ6gLmnO5GpzHTQ5SgaIGF/tWvtLBf6MLIVha++6rw5dyEKeGUCRZUGSo+QlB3BxNAAcL3yJn+qZLfKaA5HYtTYtFBGokmWBPRfjYXcGw7Nq42QPYdk8IDa0xZMVjgpgIRqLqxisnY0zh3yH58OOq1k874oT3KqczMJhurtKvd8xxIRy2QZh1Yo+SEUsXCq7ZzfYCO54FQnpZYYXiuD5PV0uy5ISPoV406WF5rm7cIUrj7XoNm+Z1cZ5gZPPHtN8ikZhGYdmTagPheq+J8yT8hrHFK3RfcbnjywAS+SXC5NNjlr936ukLI1FCzndF/Mk775TPk8RUrziAnYmKEswRwJSACLQmArLnRPsVNnySlSKvCJ0QHc2B5cF2uLbhFdzJicQsLRQCu6Dp+oKEIDlSFUIU57hEelLzqiPxN99LAOjupccxMulKhRQTZawfdyDw4WCJmkzarcxXDvEYeO/wLvnqlqBJtzxmK4sXCHobCLj4IE2PCtrc7wCtAdU6ynJUDuAAnSG1BjjnmrKCxTtxLKxKFV0WQSa3MlBVgiS8ajrWoPa7kKWxFuHfs4VhS2JGYLhRSpqpGECQSOQDcFTtt+sqo2kDrY2VkLtL8kgINUPLX5PJtUcNp3SJHZn/Mlvs1EraqMNo0JNctgsHBrFb5RIH20QPg/IUD7wntbYmPXFFshVfZdvjX0vORAGglJ1QygSGrgIg4vtICS0tRWyFwQkTgQlFwWR0eqsV/1h7Mb0qwCq8TYFuqFkeB5AEZLAdEwsTxIKu/JkL06AskLWcmZyBrTW5hYd1FhIS0WpUJm3MCLE5BaHd2LIirj9urUY3bXn4j9L6H6LFXq6z1WzDAisRbE4YUHMdcjDigABnua73w4WKteQ6tu/7u1ZCk/CKTVGaK52agY8k342FwSuT/cKP6AvFNe6HDSpPUDb2vCu2gnttdNmQc/J1Jn6PsyNQM2u3upDCUjY4nJ9cTxcMUULQRJ0m6EwtLEbjiA0NY7FpySYvvYqW7lD3pNnoDieCFGlEAnaSxY2ECfVmHvMzCO9vMHbGIZap3HMIxKkH/eEJsUkaggDTQ/dvzokJaMkJCc8kPt1FqpQDb6zSsUOqGnzVL4tTMjwy/59l+zWohJSiAAGtpiCplJi/ZJBxc76e8YzFJwMA+ra98pEgRRp/QssoEEMtrmFx9a34CR565NcNhpvloHQxRr1UScWnhIUUk0iMYKzPduzb4ulkCXi8DsJtRsDrTn7oEQEJCuysJ6DlSm6Obm5Ygr6Eh5qh3BMITgn4QsASJbWCcYmP/JU7OcV5pLzoMWeC9k8EMAR+hTUIDPwkj4Vu417gMnfy6qzo9kmt7PdQyljPBOm52oEltFCJcL6sZwsqme1BxiccQhDsL+N8uIZoZGUzd3PzkxARmglzyvU7LtlEq9kqkgDUngp6NscDqkoXq0lpMs/QiHECJ1aB3lrz+sgMOjLixVXO+UhIFvKbOIE3aIHSdig0Ar4+nrxl2V6Tad++4cImtgv3rAmViqx11foQnWI1axUrdJcCjZ1h9c3G5+VCzVCA6ZVGGMkKYgxgvsguVM9iVmpQDdb3O6pJGDjVBJ3xYBao00sfL764YcfDmU14KIax6QJ5C1FFEH3EnzfbwUMurIaiVpSrE//cFG1xcwSTPWfwOYTRhtPkQW12FhhCi+3hdrC8PqL7cCLHLbxH2xFIpJZLmC4iyQdIdAlXk40EMoYiqK0taTvPPsq9RpKVE24MQ6KUZRtvlAPLG5XT0BUwliTqhn8VhTAINHxDNZtrK4pkTJ5MrjqvSnFFS/OA1irPCFsYh3UMuoKyhJu5SKAQigG++UJLHRzp2iyWreUkM7MvWRschxI6AhXdVoDr8Ls8apkuUkbnBUbhRUxU9UvHiPstkCUp1TyapglLtuspacXkUFzyEhvGdZHvUExKI4UB6F58Ro1hN8iR7JDewANxYL1tZH4NyQKTTypdvVp7MZU+9UueYTeC1msgzUIA6AhGiNFgZSQlzNidUBCpfQ+yEPwc4vLvAU31CIRbrwCcoHqGgM48HsYfum/ORvDnCkI1vcWjZxnbcjEjMGZP8uFvLxBIldBYM3j1w30d6+rY4TmRHIy6oxr//hAOum7WuvVZ5999vJ3e1Ef3DjFtoA6IMQaMEUi0YQdwEDyU7mDfPKTRbGMrFslDPIyENW3Qi7FdI8HsDZJmdzyScpJqcbbmgDrKgQxijYFMwtyo3HWOxvLaWL82b7hqG6C7hgxumbrGZ5jw+7EsF1uMaht5FoD4ZIsOoE3YQpNMDz3TXmSac8WBkvYkNy6t1xFwJ7ZxOZynmBeMqNjhCPyon76DiRYq9oHZYQ4lXxtLATXGM5gwHA0iHAnRPsjaiA45qGx5TPgR6lw+a13e5tEMs+V4XQ0BC9AJVMCV5dM1SktJGtwv3YtxmleygathZvm6uO3pLg74RV/NnffPFQz4NUa23y8DE0CbjIqViu87gESRkJYEgYbo595Xvqw2arvnqdgqDMd9FkaRZiyMZeHC1lgpZAlcXlbAtTblxcaeA+NkI7iLvaUa0MvexbQvF69ZNHN1WIWJLBKVqj2QUaC7foIj+RbMo+RKDiFJ33xS+oZmyK/8AA5TujjTZusJXT3kqv2+DqhUPi+dQd7YX87aEH7iqPdhBQQhKBsg0MkEJrYutbod+lwSs2J40JHJ88qTg6BmHoOEHi7HlIEKLALqA3Wba28KYNYfkmIXMZamN6jgM0nqBhvw7Qm47QZwigjBiiAJeH26rUqdR3UI4ug8Pz762b+ruD54NPHoiUrdEvCeMcWNU0h2FrWru/yVEIDEi8rhuZYrMOuF9j4jNgaTz5CUTR3ykOzJzfvax0KVZbLorEL+/bJ1iXOx5PPuYc504Gapbn97onn1iTHHOxtcLuFCETiCQsJC8UQfpXL5QECiVgfOcoGvv6chfd8YXNWKR7zHFxWi8s4hFQJHK0B7YjRzcGyGQJIyyAwCdgI1kyuPBzS5KVtyBaUbSDGAKEJ7Vm/TUxf2IrkfvnDAatcoQdMdC7CtSUwyVRxSPliZP29PoqvaQxJlztLfGLuYntoa3knoUE1vVV1C24ThQE1hU3CrkJpG1Kgrq6tSXiGrpZ1rg3wA/0Jzc3BqBR9ok792iy0SvImG9rlkrq/cNAEdlodgWKXX5qcMATYhVC2nQcEWrgQJN+kWFSColHsbpyN45sYcVBQW3LglCRrngog8ICu0KCEncLJgs3lVY4mGldORZO8/G75cyjd8YAZhs546UVoFuKgyNsQCbCHKu+FpqhnME7BUxuhjQUsIUhR3WPpLcwmoPtR6DYBnc+tN1Q2puIQvHaEKlZDjXLingjyVGMCMM2NJdgcIlQnS/frh1iVK4XK5hPybDzKZtEZz9pxGNmdh8DeKR79rPJWkXsPiiUKa1lXgqR0J22grc3CRzW+BJ2AOCTwlDE4xesKRqvKeWeLkjBtkLqp+8ng1Rr5wvmN96Uk99awyI61dpXDbFjttpJPDqhvE7kjb1EhWcp5EJnis+9y5G1s5GKd0CRiMAtWkBoAAAc0SURBVPSiI0i65x82kkB75Gojl5JgqYq7NrV/YnVjIxJrw3ONwRgYQMazKEa8lvRrr+Bcb0s58hA4jwVWBDdnP8s5aBQJvLkyMHWUEKmGs35R4nXGQ220IOZ4r6iThCb4clKbuFp8whNMte5YUnyVhyTWNrZ7r1tlC0tY7KtCrIWkHNR5/Rvbq6Uq7ZeY+3xek1wISnmkzYK0dj6IB3RtLGFHfcK7eTIvWgU2vld/IE/9kkFeEqJ5PETL0KSCQ6q9Sso1WxQlsZBFI2AjFGTyDXOwOArEQlKIv5HFKiEueWHHxTehJ7TtO5oDAElG7zvxZHkPh8Zia9t8+jjJg8J61hxCMgNxognRLbgBfBw783pjOWuS2yA7z7uvHrr3slJam4I6QQNYPPcUWmB5aAOCqn/3+i5f1BddIF7WDmpqblyXUCYZp3BjOzNJBkpeqgd0TmbWLkc1r7pnx0xWCdyxc/MJP0tkevvEYZw5kv/qh+dc2jyIx8biOckKCjvv2VPIZL3DtDYEArJQyXDRTQI08es0iz9ZR5kJgXSUiPVlnYpA7zfZNPkAKmOlcoNEjRBssVslN77jZskTErRhjSVkkYvinUtYY2M4ymawjSORC8fJoRBUjStYe2Yd6rnGRz1JFYzy5a+SCk2qXt8lO7u9TGcTCC21r2+fFiwkwNtdl3irXcJ744OlKsjkAQhEMq2djYbq0CT7awRCive/2nyb1yYJe5BZ88oX8pECV1GqUJbI5SChytmOWsPvQiYvJsM6M8rae8b4793ede0WggRLGVzNmYAqllcZOKH9DJIKYctPlVtYGYJxPUjblN14WY7Yq/BK+D3m3eLVwihLPSXMSvIMi6GkMEbnIAyKU11Lvn3fegbBiVqX0NVrwEbXRV+NQx4efSgL47kJc5lLyVuo8VLB65BW3ti6pk01KY+yeG4ucbNQOUT8RclDaikzy29BzXmvzzzXEvKFjRFK5a+uxk0uyvdiBKDgqBXzIIc177La6hObkUxblYsgPH+9MNmgyXRwObm/5ID3gZm5kombDDKRSFk3lpKXsaoEgLUlVOxri+he86h/5AlJUb0DSOB8GA3ZslSeJN6jSVAr9eVVKHxsQH1Vyc2dHAyG5zKY7uOhGJ+aB9XEw1XjDtjIZA55SJkAPt/vh6gpKEjl7FSO9TV4grSBDSRMoRwsxCapJwjpuaq+xUvocgZ6Aikowe/RqTySnOqm5uq+9tCUN0uSl2EtKSl3CF02WH9e3Hc1l5KgK9CAn2vzF6RgA7qvX0bA0BzkNf+FuM5DWJv6QOXeIOJlHeQWXkAI5wWKLzCw8WwueItWIWgKbWNVxUtCFjYYCVQCwTU2r2oM5zbCkHi9NIeQK3wIuYpO6+VNaPS14jxM/lHVLwRGtaQjHiUlqLck/eSxBqHzNgQ62BNCO91GOGRqIFUnSxaOKKWrCXkeIMBtba5QWZ+EXzDgnhzgzZfkAhFf/30RYVAOk3iFnOTB9CqAbXB9/C67jaltckB4gExyO9/ZfOE+3k9Yam0ZonzDg+rrpUEs86GsFLRknPCRYOvmyDNtxfUsTHjjbQlTewjFr0AnXFbbc1acBSWYX49uLIdAFIjJ5TUtSnIGHVElPFweo4DmBH3BT4nVRpPFhkFFijjt1/q7p4ZRu9j8NTIwXyShA7nvAIQ/gukItIES1mkcd2sTnJtgTRsQRbJ0gZyRoClUvybkJcLHFl9gZ/1WWNBXvtAOIlInYFhVzyyyueSKxgZHKb1xJXb5klXbqKwZvKVAtVbXfS8g/SyZmT5V/+kDYOk+uh7x+vK/RScATgoVDabicZpErBMWesaKupcSvJMkx0BvPQdVnZ/gdbrfP4rJALzTlMf0qb/kK2coXM1xLwo8r0XSbw7hQzGJ6BOeFsorPJMheVTuimVJuau3TxzEATjIUnkZSGi8LSmEbeHuztQTRvjwhofwpPqWkFpAixMnxT6KkeCgE4gsJWFoUR8sk9WAiuiERVj+X5I9vNIO7NUfd9acQIP3flXwUBm6hucCITgtOVTh1vq1wT+ptZaqh6joL7mbG7LkcTZd4XrUiWJJsm03/Y2nBF1rTaAtorgrSrn2+C3KoNhlh9ddF9WJvcCDShtKAyLkKAbAYITCvlOccLIcFWZ5LRfqoczkZ2jJWH+hhWcrBRCVFC6/SQGoeIbQfTmPgd9c/m6vBYB8PEUS456E6nsDbV7xawxLWfM0yW2pgsZmBC1AqGjxJfiETjn9E+5YYW3kFDSJUCUPCAMAAQttDHWUNwpBWLSO/CSkgLH69lxYEgWwubywObauAnjox/pQQocsO8JdmkAi7mGfBMDhUHgT8QTFnz806bDLBjdGAqgPFHj1l+gsRDJWQLLirQ9UupAVV2dAvDG5zMvi1TtgbH0bh9U3hiNja2cMtS3M+EtAra97NgZEVkeJBojINsav2TUfblBeSh/d+z+KXb5vUSrg3AAAAABJRU5ErkJggg==');
	float: left;
	border-right: 1px solid #f4f4f4;
	min-width:15%;
	max-width:70%;
}

.rightpanel {
    position: absolute;
    display: block;
    background-color: rgba(255, 255, 255, 0.51);
    float: right;
    width: 280px;
    height: 100%;
}

.rightpanel.docked {
    position: relative;
    background-color: rgba(255, 255, 255, 0.51);
    float: right;
    border-left: 1px solid #f4f4f4;
}

.explorer {
    position: relative;
    display: block;
    background-color: rgba(255, 255, 255, 0.5);
    overflow-x: hidden;
    width: 100%;
    height: calc(100% - 44px);
    z-index: 5;
	border-top:1px solid #cccccc;
}

.explorer.treeview, .explorer.browserview{
    position: relative;
    float: left;
}

.viewer-container {
    height: 100%;
    width: 100%;

}
.viewer-container.docked {
    display: inline-block;
    position: absolute;
    /* The with of the viewer needs to be the
     * parent width - width of the left panel
     * If this needs to be resizable, this has to be 
     * done in javascript
     */
    width: 100%;
    height: 100%;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing: border-box;
}

.leftpanel > .searchfield {
    width: calc(100% - 90px);
    position: absolute;
    margin-left: 10px;
    margin-top: 10px;
	border-radius: 2px;
	border: 1px solid #ccc;
	padding:5px 0px 5px 5px;
}

.viewer-container > .search {
    display: block;
    width: 30%;
    position: absolute;
    margin-left: 5px;
    margin-top: 8px;
    background-color: rgb(150, 150, 150, 1);
    z-index: 99;
    min-width: 15%;
    max-width: 70%;
}

.search > .searchfield {
    float: left;
    display: block;
    position: relative;
    width: 80%;
}

.search > .resizeslider {
    position: relative;
    display: inline-block;
    background-color: #ccc;
    border-left:2px groove #fff;
    border-right:1px solid #999;
    float: left;
    min-width: 6px;
    height: 20px;
    z-index: 99;
}


.viewbuttons {
	cursor: pointer;
    display: block;
    padding-top:   10px;
    padding-right: 10px;
    padding-bottom: 10px;
    float: right;
}

.viewbuttons.treebtn {
	background-color:transparent;
    width:  24px;
    height: 24px;
    border: none;
    margin-right: 10px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyBpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBXaW5kb3dzIiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOkIwQUUzNjkyQUFFMTExRTM5NjVDOUJEM0NERkJFMUEwIiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOkIwQUUzNjkzQUFFMTExRTM5NjVDOUJEM0NERkJFMUEwIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6QjBBRTM2OTBBQUUxMTFFMzk2NUM5QkQzQ0RGQkUxQTAiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6QjBBRTM2OTFBQUUxMTFFMzk2NUM5QkQzQ0RGQkUxQTAiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz5oXo0sAAAAQ0lEQVR42mL8//8/Ay0BEwONwdC3gAXGmDVrFjgy0tLSGJEVwMRJBTBzaO4DxtFUNBrJo5E8GsmjkTwaycMikgECDAAwey8lfTBU3wAAAABJRU5ErkJggg==);
    background-repeat: no-repeat;
    /* background: url("icons/list_view_icon.png") no-repeat; */
}

.viewbuttons.browserbtn {
	background-color:transparent;
    width:  24px;
    height: 24px;
    border: none;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyBpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBXaW5kb3dzIiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOkJFOTc3NjQyQUFFMTExRTM4QUE3QjBDRDZCMkVDRTJFIiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOkJFOTc3NjQzQUFFMTExRTM4QUE3QjBDRDZCMkVDRTJFIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6QkU5Nzc2NDBBQUUxMTFFMzhBQTdCMENENkIyRUNFMkUiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6QkU5Nzc2NDFBQUUxMTFFMzhBQTdCMENENkIyRUNFMkUiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz7I98FzAAAAvklEQVR42mL8//8/Ay0BEwONAQuMMWvWrJVAygyP2h9A7AllbwdiDjxqT6WlpYWjWAAEdkAsQcBBAlBag4A6DgwfQF1ICBAbYT/oFgejFhCfTIGAmQj1jESay4zNgu9EaPxNpAXfsVngDsT8eDT9BeLbULYuAR9/HJA42AnEagTU60DpywTU3QJidXQLOIlwECuRDufE5oO/VCwq/o7m5MFZVHBQsajAWuEcIqLK/ABl3yBUZcJdNORbFQABBgBJpCGNaWcG+gAAAABJRU5ErkJggg==);
    background-repeat: no-repeat;
    /* background: url("icons/thumbnail_view_icon.png") no-repeat; */
}

.viewbuttons.browserbtn:hover {
	opacity:.7;
}

.viewbuttons.treebtn:hover {
	opacity:.7;
}

.resizeslider {
    position: relative;
    display: inline-block;
    background-color: #ccc;
	border-left:2px groove #fff;
	border-right:1px solid #999;
    float: left;
    width: 0.5%;
    min-width: 6px;
    height: 100%;
    z-index: 2;
}

.resizeslider:hover {
	background-color: #bbb;
    cursor: ew-resize;
}